@{
    ViewBag.Title = "Smart Reward Home Page";
    ViewBag.Message = "Récompensez vos enfants comme ils le méritent.";
}
@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/css/home.css">
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <hgroup class="title">
                            <h1 class="heading">@ViewBag.Message</h1>
                            <h2>Grâce a Smart Reward, fini les prises de têtes lorsque vos enfants vous demandent de leur offrir des choses.</h2>
                        </hgroup>
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("_RegisterPartial")
                    </div>
                </div>
            </div>
        </div>
    </section>
}
