@model BindingViewModel

<div id="searchResult">

    <div class="pagedList" data-target="#searchResult">
        @Html.PagedListPager(Model.result, page => Url.Action("Index", new {page }),
        PagedListRenderOptions.MinimalWithPageCountText)
    </div>

    @foreach (var item in Model.result)
    {
        <div>
            <h1>@Html.DisplayFor(model => item.Email) @Html.ActionLink("Inviter", "BindingChild", "Binding", routeValues: new { targetId = item.UserId}, htmlAttributes: new { id = "add" + item.UserId, @class = "btn btn-default" })</h1>
            <hr />
        </div>
    }
</div>