@model BindingViewModel

@{
    ViewBag.Title = "Inviter";
    ViewBag.Message = "Constituez votre famille";
}

@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/css/binding.css">
}
@*
<form method="get">
    <h2>Recherche d'utilisateur : <input type="search" name="searchTerm" placeholder="Nom d'utilisateur ou email"> <input type="submit" value="Valider"></h2>
</form>
    *@

@using (Ajax.BeginForm("Index", "Binding", null, new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResult" },new { id = "searchForm"}))
{ 
    <h2>Recherche d'utilisateur : <input id="searchTerm" type="search" name="searchTerm" placeholder="Nom d'utilisateur ou email" data-autocomplete="@Url.Action("AutoComplete")"></h2>
}

@Html.Partial("_Members", Model)

@section scripts{
    <script src="~/Scripts/SmartReward/Binding.js"></script>
}