@{
    ViewBag.Title = "Tableau de bord";
    ViewBag.Message = "Gérez votre espace Smart Reward";
}

@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/css/dashboard.css">
}

<h2>Tableau de bord</h2>

<div id="actions">
<ul>
    <li>@Html.ActionLink("Ajouter un membre","Index","Binding")</li>
</ul>
</div>
