@{
    ViewBag.Title = "Tableau de bord";
    ViewBag.Message = "Gérez votre espace Smart Reward";
}

@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/css/dashboard.css">
}

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div id="actions">
            <h2>Actions</h2>
            <ul>
                <li>@Html.ActionLink("Consulter mon cercle", "Index", "TODO")</li>
                <li>@Html.ActionLink("Editer mon catalogue", "Index", "TODO")</li>
                <li>@Html.ActionLink("Editer ma tasklist", "Index", "TODO")</li>
                <li>@Html.ActionLink("Rechercher un membre", "Index", "Binding")</li>
            </ul>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/SmartReward/Dashboard.js"></script>
}